<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/head :: head_fragment(title = 'ユーザー情報一覧', scripts = ~{::script}, links = ~{::link})">
</head>
<body>
  <div>
	  <div id="editArea" class="editArea editArea_s width100">
	    <label style="font-size:40pt">文書作成エリア</label>
	    <div class="float-end" id="divBtn">
	      	<a th:href="@{/demo/viewDocList}" class="btn btn-primary">マニュアル一覧はこちら</a>
	      	<!-- 
	      	<a th:href="@{/demo/editHtmlElement}" class="btn btn-primary">要素の新規登録はこちら</a>
	      	<a th:href="@{/demo/viewHtmlElementList}" class="btn btn-primary">一覧表示はこちら</a>
	       	-->
	      	<button id="disableEditSwitchBtn" class="btn btn-success">編集モード切替</button>
   			<label hidden> モード: </label>
   			<label id="diapEditMode" hidden>V</label>
	    </div>
	    <div id="divTable">
			<button id="hiddenSwitchBtn" class="btn btn-outline-secondary">elementListTableの表示切替</button>
			<form th:object="${htmlElementListDto}" th:action="@{/demo/updateHtmlElementListResult}" method="post">
			    <table class="table table-striped displayNone" id="elementListTable">
			      <thead>
			        <tr>
			          <th>id</th>
			          <th>tagName</th>
			          <th>idName</th>
			          <th>className</th>
			          <th>text</th>
			          <th>clientRectTop</th>
			          <th>chapterLevel</th>
			          <th>docId</th>
			          <th>color</th>
			          <th>delFlag</th>
			          <th></th>
			        </tr>
			      </thead>
			      <tbody id="htmlElementTable">
			        <tr th:each="htmlElement, stat : *{htmlElementList}" 
			        	th:name="${'htmlElementList[' + stat.index + ']'}"
			        	class="align-middle">
			          <td><textarea rows="1" th:name="${stat.count}" th:field="*{htmlElementList[__${stat.index}__].id}"></textarea></td>
			          <td><textarea rows="1" th:name="${stat.count}" th:field="*{htmlElementList[__${stat.index}__].tagName}"></textarea></td>
			          <td><textarea rows="1" th:name="${stat.count}" th:field="*{htmlElementList[__${stat.index}__].idName}"></textarea></td>
			          <td><textarea rows="1" th:name="${stat.count}" th:field="*{htmlElementList[__${stat.index}__].className}"></textarea></td>
			          <td><textarea rows="1" th:name="${stat.count}" th:field="*{htmlElementList[__${stat.index}__].text}"></textarea></td>
			          <td><textarea rows="1" th:name="${stat.count}" th:field="*{htmlElementList[__${stat.index}__].clientRectTop}"></textarea></td>
			          <td><textarea rows="1" th:name="${stat.count}" th:field="*{htmlElementList[__${stat.index}__].chapterLevel}"></textarea></td>
			          <td><textarea rows="1" th:name="${stat.count}" th:field="*{htmlElementList[__${stat.index}__].docId}"></textarea></td>
			          <td><textarea rows="1" th:name="${stat.count}" th:field="*{htmlElementList[__${stat.index}__].color}"></textarea></td>
			          <td><textarea rows="1" th:name="${stat.count}" th:field="*{htmlElementList[__${stat.index}__].delFlag}"></textarea></td>
			          <td><a th:href="@{/demo/viewHtmlElement/{id}(id=${htmlElement.id})}" class="btn btn-secondary">詳細</a></td>
          			  <!-- 
			          <td>
			          	<form th:object="${htmlElement}" th:action="@{/demo/deleteHtmlElementResult/{id}(id=${htmlElement.id})}" method="post">
							<input type="submit" value="削除" class="btn btn-danger"/>
					  	</form>
          			   -->
		 	        </tr>
			      </tbody>
			    </table>
			    <p>
			   		<label> ドキュメントID: </label>
			   		<label id="docId" th:text="${docId}"></label>
			   		<label> 要素数: </label>
			   		<label id="elementCount" th:text="*{htmlElementList.size()}"></label>
			   	</p>
			    <p>
			   	</p>
				<p>
					<input type="submit" value="更新" style="width:10%;" class="btn btn-primary"/>
				</p>
			</form>
		</div>
		<!-- 
		<div id="addArea">
	   		<button id="addHtmlElementBtn">追加テスト</button>
	   	</div>
		 -->

	    <div class="isParts border" id="divTop"><br>文書作成エリアはここから<br><br></div>

	    <div class="isParts border" id="divBottom"><br>文書作成エリアはここまで<br><br></div>
		
	    <br>
	    

	
		<!-- 
		<input id="target" type="text" value="jQuery"/>
		<button id="getGitHubApiBtn">GitHub取得</button>
		<ul id="githubQueryAddArea"></ul>
		 -->
	  </div>
	
	  <div class="partsArea displayNone">
	    <label style="font-size:40pt">部品エリア</label>
	  	<div><p id="mouseOnId"></p></div>
		<div class="drag-and-drop original border" id="original01">
			<label>章題</label>
			<div class="btn btn-outline-secondary  btn-sm editSwitch moveForDrag">Drag here</div>
			<input placeholder="ここに文字を入力する"/>
			<!-- 
			<button id="editSwitch" class="btn btn-success" onclick="switchEdit(this)">■</button>
			 -->
		</div>
		<div class="drag-and-drop original border" id="original02">
			<label>文章</label>
			<div class="btn btn-outline-secondary  btn-sm editSwitch moveForDrag">Drag here</div>
			<textarea placeholder="ここに文字を入力する"></textarea>
			
		</div>
		<div class="drag-and-drop original border" id="original03">
			<div class="btn btn-outline-secondary  btn-sm editSwitch moveForDrag">Drag here</div>
			<img src="/img/sample.jpg" width="90%">
		</div>
		<div class="drag-and-drop original border" id="original03">
			<div class="btn btn-outline-secondary  btn-sm editSwitch moveForDrag">Drag here</div>
			<img src="/img/sample.jpg" width="90%">
		</div>
		<div class="drag-and-drop original border" id="original03">
			<div class="btn btn-outline-secondary  btn-sm editSwitch moveForDrag">Drag here</div>
			<img src="/img/sample.jpg" width="90%">
		</div>
		<div class="drag-and-drop original border" id="original03">
			<div class="btn btn-outline-secondary  btn-sm editSwitch moveForDrag">Drag here</div>
			<img src="/img/sample.jpg" width="90%">
		</div>
		<div class="drag-and-drop original border" id="original03">
			<div class="btn btn-outline-secondary  btn-sm editSwitch moveForDrag">Drag here</div>
			<img src="/img/sample.jpg" width="90%">
		</div>
		<div class="drag-and-drop original border" id="original03">
			<div class="btn btn-outline-secondary  btn-sm editSwitch moveForDrag">Drag here</div>
			<img src="/img/sample.jpg" width="90%">
		</div>
		<div class="drag-and-drop original border" id="original03">
			<div class="btn btn-outline-secondary  btn-sm editSwitch moveForDrag">Drag here</div>
			<img src="/img/sample.jpg" width="90%">
		</div>
		<div class="drag-and-drop original border" id="original03">
			<div class="btn btn-outline-secondary  btn-sm editSwitch moveForDrag">Drag here</div>
			<img src="/img/sample.jpg" width="90%">
		</div>
	  </div>
  </div>
  
  <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>

  <script type="text/javascript" th:src="@{/js/controllSwitch.js}"></script>
  <script type="text/javascript" th:src="@{/js/repositioning.js}"></script>
  <script type="text/javascript" th:src="@{/js/textChangeAction.js}"></script>
  <script type="text/javascript" th:src="@{/js/makeHtmlPage.js}"></script>
  <script type="text/javascript" th:src="@{/js/changeTextareaHeight.js}"></script>
  <script type="text/javascript" th:src="@{/js/addHtmlElementList.js}"></script>
  <script type="text/javascript" th:src="@{/js/dragDrop.js}"></script>
  <script type="text/javascript" th:src="@{/js/elementHiddenSwitch.js}"></script>

  <script type="text/javascript" th:src="@{/js/javascript.js}"></script>
  
</body>
</html>